/* reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 1rem;
  text-align: center;
}

/* page title */
header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-style: italic;
}

/* cards */
.card-grid {
  display: grid;
  /* min = min grid width */
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  margin: 2rem auto;
  gap: 1.5rem;
  max-width: 1160px;
}
.card {
    border: 2px solid black;
    text-align: center;
    min-height: 225px;
    box-sizing: border-box;
}