/* reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 1rem;
  text-align: center;
}

/* page title */
header h1 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.subtitle {
  font-style: italic;
  margin-bottom: 0.8rem;
}

.wrapper {
  width: 1160px;  
  margin: 0 auto;
}

body {
  background-color: #1b1c1b;
  color: #FAFAFA;
  opacity: 0.87;
}

.instruction {
  margin-left: 2.85rem;
  margin-bottom: 0.1rem;
  font-size: small;
  font-style: italic;
}
/* cards section*/
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px); /* width */
  justify-content: center;
  margin: auto;
  gap: 1.5rem;
  max-width: 1160px;
}

.card {
  border: 1.5px solid #FAFAFA;
  text-align: center;
  min-height: 200px; /* height */
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #1b1c1b;
}

.card a {
  text-decoration: none;
  color: inherit;
}

/* card contents */
.card-content h3 {
  margin-top: 2px;
}

.card-content img {
  width: 70%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

/*birthday paradox page*/
.birthday-simulator {
  margin: 1.5rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.birthday-simulator .screen {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 32rem;
  height: 32rem;
  border: 2px solid #FAFAFA;
  background-color: #2b2c2b;
}

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: small;
  align-items: center;
  justify-content: center;
  min-height: 3.2rem;
}

.cell.match {
  background-color: #ffeb3b;
  border: 2px solid #ffc107;
  color: black;
}

.sidebar {
  width: 16rem;
  border: 2px solid #FAFAFA;
  border-left-style: none;
  padding: 1rem 0.5rem;
  background-color: #191c27;
}

.person {
  font-size: 1.5rem;
}

.slider-container {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

#slider {
  width: 14rem;
}

.slider-value {
  position: absolute;
  top: 5px;
  transform: translateX(-50%);
  background: grey;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none;
  width: fit-content;
}

.slider-labels {
  position: absolute;
  bottom: 0;
  width: 14rem;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.generate-bttn {
  font-size: small;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.page-title {
  margin-bottom: 1.5rem;
}

.paragraph {
  margin: 0 1.5rem;
}

h2 {
  margin: 1.5rem 1.5rem 0;
  font-size: large;
}