/* reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 1rem;
  text-align: center;
}

/* page title */
header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-style: italic;
  margin-bottom: 1.25rem;
}

.instruction {
    margin-left: 4.1rem;
    margin-bottom: 0.3rem;
}
/* cards section*/
.card-grid {
  display: grid;
  /* min = min grid width */
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  margin: auto;
  gap: 1.5rem;
  max-width: 1160px;
}
.card {
    border: 2px solid black;
    text-align: center;
    min-height: 225px;
    box-sizing: border-box;
    border-radius: 5px;
}

.card a {
    text-decoration: none;
    color: inherit;
}

/* card contents */
.card-content h3 {
    margin-top: 2px;
}
.card-content img {
    width:70%;
    height:150px;
    object-fit: cover;
    border-radius: 5px;
}

